@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/YS-Text-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'MyCustomFont', sans-serif;
    background-color: #121214;
    overflow-y: hidden;
}

.motto {
    margin-top:30px;
    font-size: 40px;
    color: #D3D3D4;
}

#motto-text {
    text-align: center;
}

#shake {
    color: #4EB7C7;
}

/* strong {
    display: flex;
} */

.outer-box {
    display: flex;
    margin: 150px;
    margin-top: 40px;
}

.input-container {
    position: relative;
    background-color: #252427;
    width: 50%;
    padding: 20px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 20px;
}

.input-box {
    position: relative;
    background-color: #252427;
    width: 98%;
}

.select-field {
    width: 100%;
    margin-bottom: 5px;
    background-color: #252427;
    color: #D3D3D4;
    border: none;
    text-align: center;
    outline: none;
    border-bottom: 1px solid #39393D;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 17px;
}



#input-field {
    width: 98%;
    resize: none;
    border: none;
    outline: none;
    height: 210px;
    background-color: #252427;
    color: white;
    font-size: 24px;
    font-family: 'MyCustomFont', sans-serif;
    scrollbar-color: #686868 #424242; /* thumb and track colors */
}

.output-box {
    position: relative;
    background-color: #2B3348;
    width: 100%;
    height: auto;
    max-height: 380px;
    margin-top: 15px;
    scrollbar-color: #4f5d86 #3b4563; /* thumb and track colors */
}



.output-container {
    position: relative;
    background-color: #2B3348;
    width: 50%;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
}

.text-box {
    padding: 10px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.877);
}


.submit-button {
    padding: 8px;
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: #252427;
    border: none;
    border-radius: 7px;
    color: #D3D3D4;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2px;
}

.submit-button:hover {
    background-color: #343336;
}

.submit-svg {
    fill: #D3D3D4;
}

.copy-button {
    position: absolute;
    bottom: 15px;
    left: 15px;
    border: none;
    background-color: #2B3348;
    border-radius: 20px;
    height: 35px;
}

.copy-button:hover {
    background-color: #39435c;
}

.copy-svg {
    fill: #D3D3D4;
}

@media only screen and (min-width: 856px) and (max-width: 1024px){
    .motto {
        font-size: 33px;
    }

    .output-box {
        overflow-y: scroll;
    }
}

@media only screen and (min-width: 300px) and (max-width: 972px){
    .outer-box {
        display: grid;
        margin: 200px;
        margin-top: 30px;
    }

    .output-box {
        overflow-y: auto;
    }

    .input-container {
        width: 92%;
        margin: 0;
        margin-bottom: 5px;
    }

    .output-container {
        min-height: 300px;
        max-height: inherit;
        width: 92%;
        margin: 0;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 856px){
    .motto {
        font-size: 28px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 768px){
    .outer-box {
        margin: 120px;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 640px){
    .outer-box {
        margin: 70px;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 500px){
    .outer-box {
        margin: 20px;
        margin-top: 30px;
    }
}